<!--light dark breadcrumb with options Home and Dashboard -->

<nav aria-label="breadcrumb" class="bg-light p-2 rounded">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="p-2">
  <h5>Dashboard</h5>
</div>
<!-- Row with 3-6-3 column structure w.r.to all screens-->
<div class="row">
  <div class="col-md-3">
    <div class="card mb-3" style="background-color: #dbd6d6">
      <div class="card-body">
        <div class="row">
          <div
            class="text-center mx-auto rounded pt-2 pb-2 fw-bold"
            style="
              background-color: #a39e9e;
              font-family: 'Arial Narrow Bold', sans-serif;
            "
          >
            {{ Designation | uppercase }}
          </div>

          <div class="col-12 text-center mt-2">
            <img src="assets/user.png" width="120px" />
          </div>
          <div
            class="col-12 text-center pt-2 pb-2 font-weight-bold"
            style="font-family: Tahoma"
          >
            {{ Username | lowercase }}
          </div>
          <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
            TEAM SUMMARY
          </div>
          <div class="col-12 mb-3">
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                NO. OF TEAM MEMBERS
                <span
                  class="badge bg-primary rounded-pill"
                  style="font-size: 13px"
                >
                  {{ NoOfTeamMembers }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                TOTAL COST OF ALL PROJECTS
                <span
                  class="badge bg-primary rounded-pill"
                  style="font-size: 13px"
                  >$ {{ TotalCostOfAllProjects }} k</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                PENDING TASKS
                <span
                  class="badge bg-primary rounded-pill"
                  style="font-size: 13px"
                  >{{ PendingTasks }}</span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                UPCOMING PROJECTS
                <span
                  class="badge bg-primary rounded-pill"
                  style="font-size: 13px"
                  >{{ UpcomingTasks }}</span
                >
              </li>
            </ul>
          </div>

          <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
            Clients
          </div>
          <div class="col-12 mb-3">
            <ul class="list-group">
              <li
                *ngFor="let client of Clients"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                {{ client }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3" style="background-color: #dbd6d6">
      <div class="card-body">
        <!-- inside a bootstrap container row create a div with left side one drop down at extream left with project options and extream right with years options -->
        <div class="row">
          <div class="col-4 text-right p-0">
            <select
              class="form-select"
              aria-label="Project Options"
              (change)="onProjectChange($event)"
            >
              <option selected>Choose Project</option>

              <option *ngFor="let project of Projects">
                {{ project }}
              </option>
            </select>
          </div>
          <div class="col-4 text-right p-0"></div>
          <div class="col-4 text-end p-0">
            <select class="form-select" aria-label="Year Options">
              <option selected>Choose Year</option>

              <option *ngFor="let year of Years">
                {{ year }}
              </option>
            </select>
          </div>

          <div
            class="text-center mx-auto rounded mt-2 pt-2 pb-2 fw-bold"
            style="
              background-color: #a39e9e;
              font-family: 'Arial Narrow Bold', sans-serif;
            "
          >
            Project Briefing
          </div>
          <div class="col-12">
            <table class="table table-borderless">
              <tr>
                <td>Project Cost</td>
                <td>{{ ProjectCost | currency : "USD" }}</td>
              </tr>
              <tr>
                <td>Current Expendeture</td>
                <td>{{ CurrentExpenditure | currency : "USD" }}</td>
              </tr>
              <tr>
                <td>Avaiable Funds</td>
                <td>{{ AvailableFunds | currency : "USD" }}</td>
              </tr>
            </table>
          </div>
          <div
            class="text-center mx-auto rounded mt-2 pt-2 pb-2 fw-bold"
            style="
              background-color: #a39e9e;
              font-family: 'Arial Narrow Bold', sans-serif;
            "
          >
            Team Mebmers Summary
          </div>
          <div class="col-12 mt-2 rounded">
            <table
              class="table mt-2 table-striped table-bordered table-hover align-middle"
            >
              <thead class="table-secondary">
                <tr>
                  <th>Region</th>
                  <th>Team Members Count</th>
                  <th>Temporarily Available Members</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let TeamMemberSummary of TeamMembersSummary">
                  <td>{{ TeamMemberSummary.Region }}</td>
                  <td>{{ TeamMemberSummary.TeamMembersCount }}</td>
                  <td>{{ TeamMemberSummary.TemparorilyUnavailableMembers }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3" style="background-color: #dbd6d6">
      <div class="card-body">
        <div class="row">
          <div
            class="text-center mx-auto rounded pt-2 pb-2 fw-bold"
            style="
              background-color: #a39e9e;
              font-family: 'Arial Narrow Bold', sans-serif;
            "
          >
            Team Members
          </div>

          <div class="accordion mt-2" id="accordionExample">
            <div
              class="accordion-item"
              *ngFor="let TeamMember of TeamMembers; let i = index"
            >
              <h2 class="accordion-header" id="heading{{ i }}">
                <button
                  class="accordion-button"
                  [ngClass]="i !== 0 ? 'collapsed' : ''"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i"
                  [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                  [attr.aria-controls]="'collapse' + i"
                >
                  {{ TeamMember.Region }}
                </button>
              </h2>
              <div
                [id]="'collapse' + i"
                class="accordion-collapse collapse"
                [ngClass]="i === 0 ? 'show' : ''"
                [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="table-responsive rounded shadow-sm">
                    <table
                      class="table table-hover table-striped align-middle mb-0"
                    >
                      <thead class="table-primary">
                        <tr>
                          <th class="text-center">ID</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let Member of TeamMember.Members">
                          <td class="text-center">{{ Member.ID }}</td>
                          <td class="text-center">{{ Member.Name }}</td>
                          <td
                            class="text-center"
                            [ngClass]="
                              Member.Status === 'Busy'
                                ? 'text-danger'
                                : 'text-success'
                            "
                          >
                            <i
                              [ngClass]="
                                Member.Status === 'Busy'
                                  ? 'bi bi-person-x-fill text-danger'
                                  : 'bi bi-person-fill text-success'
                              "
                            ></i>
                            {{ Member.Status }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- create a div with left side one drop down at extream left with project options and extream right with years options -->
</div>

<!-- <app-parent></app-parent> -->
