<!-- Test @ViewChild -->
<!-- Template reference variable -->
<!-- <div #myModal class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <h5>Welcome!</h5>
      <p>This modal is controlled by TypeScript using &#64;ViewChild.</p>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Close
      </button>
    </div>
  </div>
</div> -->

<!-- Trigger buttons -->
<!-- <button type="button" class="btn btn-primary m-2" (click)="openModal()">
  Open Modal
</button> -->

<!-- HTML code to filter data by projectName,dateOfStart,teamSize + a Search text-->
<div class="row g-2 mb-3 mt-3 align-items-center">
  <div class="col">
    <select
      class="form-select form-select-sm"
      [(ngModel)]="searchBy"
      name="searchBy"
      required
    >
      <option value="" disabled selected>Please Select</option>
      <option value="projectName">Name</option>
      <option value="dateOfStart">Start Date</option>
      <option value="teamSize">Team Size</option>
    </select>
  </div>

  <div class="col">
    <input
      class="form-control form-control-sm"
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchText"
      (input)="onSearchProjects()"
      name="searchText"
      [disabled]="!searchBy"
    />
  </div>

  <!-- <div class="col-auto">
    <button class="btn btn-sm btn-outline-secondary" (click)="searchText = ''">
      Clear
    </button>
  </div> -->
</div>

<!-- Add Project Button -->
<button class="btn btn-primary mb-2 mt-2" (click)="openAddModal()">
  Add Project
</button>

<!-- Loader Overlay with Message -->
<div class="loader-overlay" *ngIf="showLoader">
  <div class="loader-content">
    <div class="spinner"></div>
    <p class="loader-message">Please wait...</p>
  </div>
</div>

<!-- Projects Table -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>Team Size</th>
      <th>Client Location</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.dateOfStart | date : "mediumDate" }}</td>
      <td>{{ project.teamSize }}</td>
      <td>{{ project.clientLocation.name }}</td>
      <td>{{ project.status }}</td>
      <td>
        <div class="d-flex justify-content-right gap-2">
          <button class="btn btn-sm btn-warning" (click)="openEditModal(i)">
            Edit
          </button>
          <button class="btn btn-sm btn-danger" (click)="openDeleteModal(i)">
            Delete
          </button>
        </div>
      </td>
      <!-- <td class="text-end align-middle">
        <div class="d-flex justify-content-right gap-2">
          <button
            type="button"
            class="btn btn-sm btn-outline-warning d-inline-flex align-items-center"
            (click)="openEditModal(i)"
            data-bs-toggle="modal"
            data-bs-target="#editProjectModal"
            title="Edit"
            aria-label="Edit"
          >
            <i class="bi bi-pencil-fill"></i>
            <span class="d-none d-md-inline ms-1">Edit</span>
          </button>

          <button
            type="button"
            class="btn btn-sm btn-outline-danger d-inline-flex align-items-center"
            (click)="openDeleteModal(i)"
            data-bs-toggle="modal"
            data-bs-target="#deleteProjectModal"
            title="Delete"
            aria-label="Delete"
          >
            <i class="bi bi-trash-fill"></i>
            <span class="d-none d-md-inline ms-1">Delete</span>
          </button>
        </div>
      </td> -->
    </tr>
  </tbody>
</table>

<!-- Add Modal -->
<div #addProjectModal class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Project</h5>
        <button
          type="button"
          class="btn-close"
          (click)="addModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form #projectForm="ngForm" (ngSubmit)="saveProject(projectForm)">
          <!-- NAME -->
          <input
            type="text"
            name="name"
            [(ngModel)]="project.name"
            required
            minlength="3"
            #name="ngModel"
            placeholder="Name"
            appProjectNameValidator
            class="form-control mb-2"
          />

          <div
            *ngIf="name.errors?.['required'] && name.touched"
            class="text-danger"
          >
            Name is required.
          </div>

          <div
            *ngIf="name.errors?.['minlength'] && name.touched"
            class="text-danger"
          >
            Name must be at least 3 characters.
          </div>

          <div
            *ngIf="name.errors?.['invalidProjectName'] && name.touched"
            class="text-danger"
          >
            Test is not allowed
          </div>

          <!-- Start Date -->
          <input
            type="date"
            placeholder="Start Date"
            [(ngModel)]="project.dateOfStart"
            name="dateOfStart"
            required
            #date="ngModel"
            class="form-control mb-2"
          />

          <!-- Error Message -->
          <div
            *ngIf="date.errors?.['required'] && date.touched"
            class="text-danger"
          >
            Start Date is required.
          </div>

          <!-- Team Size -->
          <input
            type="number"
            placeholder="Team Size"
            [(ngModel)]="project.teamSize"
            name="teamSize"
            required
            min="1"
            #teamSize="ngModel"
            class="form-control mb-2"
          />

          <!-- Error Messages -->
          <div
            *ngIf="teamSize.errors?.['required'] && teamSize.touched"
            class="text-danger"
          >
            Team Size is required.
          </div>
          <div
            *ngIf="teamSize.errors?.['min'] && teamSize.touched"
            class="text-danger"
          >
            Team Size must be at least 1.
          </div>

          <!-- Client Location -->
          <select
            class="form-control mb-2"
            [(ngModel)]="project.clientLocation.id"
            name="clientLocation"
            required
            #clientLocation="ngModel"
          >
            <!-- Placeholder option -->
            <option value="" disabled selected>Please select Location</option>

            <!-- Dynamic options -->
            <option
              *ngFor="let location of clientLocations"
              [value]="location.id"
            >
              {{ location.name }}
            </option>
          </select>
          <!-- Error message -->
          <div
            *ngIf="clientLocation.invalid && clientLocation.touched"
            class="text-danger"
          >
            Please select a location.
          </div>

          <!-- Project Status -->
          <select
            class="form-control mb-2"
            [(ngModel)]="project.status"
            name="status"
            required
            #status="ngModel"
          >
            <!-- Placeholder option -->
            <option value="" disabled selected>Please select Status</option>

            <!-- Dynamic options -->
            <option
              *ngFor="let projectStatus of projectStatuses"
              [ngValue]="projectStatus"
            >
              {{ projectStatus }}
            </option>
          </select>

          <!-- Error message -->
          <div
            *ngIf="status.errors?.['required'] && status.touched"
            class="text-danger"
          >
            Please select a project status.
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="projectForm.invalid"
            >
              Save
            </button>

            <button class="btn btn-secondary" (click)="addModal.hide()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div #editProjectModal class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Project</h5>
        <button
          type="button"
          class="btn-close"
          (click)="editModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          #updateProjectForm="ngForm"
          (ngSubmit)="updateProject(updateProjectForm)"
        >
          <!-- <input
            type="number"
            placeholder="ID"
            disabled="true"
            [(ngModel)]="editProject.id"
            name="id"
            class="form-control mb-2"
          /> -->
          <!-- <input
            type="text"
            placeholder="Name"
            [(ngModel)]="editProject.name"
            name="name"
            class="form-control mb-2"
          /> -->
          <input
            type="text"
            name="editeditProject"
            [(ngModel)]="editProject.name"
            required
            minlength="3"
            #editProjectName="ngModel"
            placeholder="Name"
            class="form-control mb-2"
          />

          <div
            *ngIf="editProjectName.errors?.['required'] && editProjectName.touched"
            class="text-danger"
          >
            Name is required.
          </div>

          <div
            *ngIf="editProjectName.errors?.['minlength'] && editProjectName.touched"
            class="text-danger"
          >
            Name must be at least 3 characters.
          </div>

          <!-- <input
            type="date"
            placeholder="Start Date"
            [(ngModel)]="editProject.dateOfStart"
            name="date"
            class="form-control mb-2"
          /> -->
          <!-- Start Date -->
          <input
            type="date"
            placeholder="Start Date"
            [(ngModel)]="editProject.dateOfStart"
            name="editProjectDateOfStart"
            required
            #editProjectDate="ngModel"
            class="form-control mb-2"
          />

          <!-- Error Message -->
          <div
            *ngIf="editProjectDate.errors?.['required'] && editProjectDate.touched"
            class="text-danger"
          >
            Start Date is required.
          </div>

          <!-- 
          <input
            type="number"
            placeholder="Team Size"
            [(ngModel)]="editProject.teamSize"
            name="size"
            class="form-control mb-2"
          /> -->
          <!-- Team Size -->
          <input
            type="number"
            placeholder="Team Size"
            [(ngModel)]="editProject.teamSize"
            name="editProjectTeamSize"
            required
            min="1"
            #editProjectTeamSize="ngModel"
            class="form-control mb-2"
          />

          <!-- Error Messages -->
          <div
            *ngIf="editProjectTeamSize.errors?.['required'] && editProjectTeamSize.touched"
            class="text-danger"
          >
            Team Size is required.
          </div>
          <div
            *ngIf="editProjectTeamSize.errors?.['min'] && editProjectTeamSize.touched"
            class="text-danger"
          >
            Team Size must be at least 1.
          </div>

          <!-- <select
            class="form-control mb-2"
            [(ngModel)]="editProject.clientLocation.id"
            name="client Location"
          >
            <option
              *ngFor="let location of clientLocations"
              [ngValue]="location.id"
            >
              {{ location.name }}
            </option>
          </select> -->

          <!-- Client Location -->
          <select
            class="form-control mb-2"
            [(ngModel)]="editProject.clientLocation.id"
            name="editProjectClientLocation"
            required
            #editProjectClientLocation="ngModel"
          >
            <!-- Placeholder option -->
            <!-- <option value="undefined" disabled selected>
              Please select Location
            </option> -->

            <!-- Dynamic options -->
            <option
              *ngFor="let location of clientLocations"
              [value]="location.id"
            >
              {{ location.name }}
            </option>
          </select>
          <!-- Error message -->
          <div
            *ngIf="
              editProjectClientLocation.invalid &&
              editProjectClientLocation.touched
            "
            class="text-danger"
          >
            Please select a location.
          </div>

          <!-- <select
            class="form-control mb-2"
            [(ngModel)]="editProject.status"
            [disabled]="editProject.status === 'Completed'"
            name="Project Status"
          >
            <option
              *ngFor="let projectStatus of projectStatuses"
              [ngValue]="projectStatus"
            >
              {{ projectStatus }}
            </option>
          </select> -->
          <!-- Project Status -->
          <select
            class="form-control mb-2"
            [(ngModel)]="editProject.status"
            name="editProjectStatus"
            required
            #editProjectStatus="ngModel"
          >
            <!-- Placeholder option -->
            <option value="" disabled selected>Please select Status</option>

            <!-- Dynamic options -->
            <option
              *ngFor="let projectStatus of projectStatuses"
              [ngValue]="projectStatus"
            >
              {{ projectStatus }}
            </option>
          </select>

          <!-- Error message -->
          <div
            *ngIf="editProjectStatus.errors?.['required'] && editProjectStatus.touched"
            class="text-danger"
          >
            Please select a project status.
          </div>
          <div class="modal-footer">
            <!-- <button class="btn btn-success" (click)="updateProject()">
              Update
            </button> -->
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="updateProjectForm.invalid"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="editModal.hide()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div #deleteProjectModal class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button
          type="button"
          class="btn-close"
          (click)="deleteModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete project "{{ deleteProject.name }}"?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteProjectConfirm()">
          Delete
        </button>
        <button class="btn btn-secondary" (click)="deleteModal.hide()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
